<div class="cont">
  
  <div class="row" style="margin-left:200px;">
    <div class="input-recherche" style="margin-right: 10px;">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Nom De Avocat" [(ngModel)]="emailAV" (input)="search()" />
    </div>
    <div class="input-recherche" style="margin-right: 10px;">
      <i class="fas fa-search-plus"></i>
      <select class="form-select" aria-label="Default select example" required (change)="search()"
        [(ngModel)]="specialityAV">
        <option value="" disabled selected >--Spécialité--</option>
        <option *ngFor="let x of speciality">{{x.speciality}}</option>

      </select>
    </div>
    <div class="input-recherche" style="margin-right: 10px;">
      <i class="fas fa-search-location"></i>
      <select class="form-select" required aria-label="Default select example" (change)="search()" [(ngModel)]="cityAV">
        <option value="" disabled selected>--Région--</option>
        <option *ngFor="let x of city">{{x.city}}</option>
      </select>
    </div>
    <div class="input-recherche" style="margin-right: 10px;">
      <i class="fas fa-venus-mars"></i>
      <select class="form-select" required aria-label="Default select example" (change)="search()" [(ngModel)]="sexeAV">
        <option value="" disabled selected>--Genre--</option>
        <option value="femme">femme</option>
        <option value="homme">homme</option>
      </select>
    </div>

  </div>


  <!---les cards de médecins --------->
  <div *ngIf="avocatList.length< 1 && status" style="margin-top: 50px; margin-left: 480px; font-family: monospace; font-size: 20px; color: rosybrown;"> N'existe aucun avocat par ses critères</div>
  <div class="mycontainer" *ngFor="let x of avocatList">

    <div class="row main-row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="blog-img">
          <img src={{x.picture}} alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="blog-title mt-2">
          <h3 style="text-transform: capitalize;">
            <i class="fas fa-user"></i>&nbsp;
            <b>Av.</b> {{x.lNameAV}} {{x.fNameAV}}
          </h3>
          <div *ngIf="x.avis == 0">
            <span class="fa fa-star "></span>
            <span class="fa fa-star " style="margin-left: 2px;"></span>
            <span class="fa fa-star " style="margin-left: 2px;"></span>
            <span class="fa fa-star" style="margin-left: 2px;"></span>
            <span class="fa fa-star" style="margin-left: 2px;"></span>
          </div>

          <div *ngIf="x.avis == 1">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star " style="margin-left: 2px;"></span>
            <span class="fa fa-star " style="margin-left: 2px;"></span>
            <span class="fa fa-star" style="margin-left: 2px;"></span>
            <span class="fa fa-star" style="margin-left: 2px;"></span>
          </div>
          <div *ngIf=" x.avis == 2">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked" style="margin-left: 2px;"></span>
            <span class="fa fa-star " style="margin-left: 2px;"></span>
            <span class="fa fa-star" style="margin-left: 2px;"></span>
            <span class="fa fa-star" style="margin-left: 2px;"></span>
          </div>
          <div *ngIf=" x.avis == 3">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked" style="margin-left: 2px;"></span>
            <span class="fa fa-star checked" style="margin-left: 2px;"></span>
            <span class="fa fa-star" style="margin-left: 2px;"></span>
            <span class="fa fa-star" style="margin-left: 2px;"></span>
          </div>
          <div *ngIf=" x.avis == 4">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked" style="margin-left: 2px;"></span>
            <span class="fa fa-star checked" style="margin-left: 2px;"></span>
            <span class="fa fa-star checked" style="margin-left: 2px;"></span>
            <span class="fa fa-star" style="margin-left: 2px;"></span>
          </div>
          <div *ngIf=" x.avis == 5">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked" style="margin-left: 2px;"></span>
            <span class="fa fa-star checked" style="margin-left: 2px;"></span>
            <span class="fa fa-star checked" style="margin-left: 2px;"></span>
            <span class="fa fa-star checked" style="margin-left: 2px;"></span>
          </div>
        </div>
        <div class="blog-date">
          <span><b>Avocat {{x.specialityAV.speciality}}</b></span>
        </div>
        <hr *ngIf="!valide">
        <hr *ngIf="valide" class="hr1">

        <div class="blog-desc">

          <i aria-hidden="true" class="fas fa-video icon-dark"></i>&nbsp; Consultation en vidéo <br>
          <div *ngIf="!valide">
            <hr>
            <i class="fas fa-money-check-alt"></i>&nbsp; Prix De Consultation: {{x.prix}} DT<br>
            <hr>
          </div>
          <div *ngIf="valide">
            <hr class="hr1">
            <i class="fas fa-money-check-alt"></i>&nbsp;Prix De Consultation: {{x.prix}} DT<br>
            <hr class="hr1">
            <i class="fas fa-clock"></i>&nbsp;Prochain RDV: : {{x.calendar[0].date.substr(0, 10)}} {{x.calendar[0].date.substr(11, 5)}}<br>
            <hr class="hr1">
          </div>
          <i class="fas fa-map-marker-alt"></i>&nbsp;{{x.cityAV.city}}<br>
        </div>
        <div *ngIf="valide" class="btn-group-vertical" >
          <div *ngFor="let y of x.calendar, let index = index;">
            <div *ngIf="index==0||index==2 || index==4">
              <label autocomplete="off" data-bs-toggle="modal" data-bs-target="#exampleModal1 "(click)="rendezVous(y._id)" class="btn3 mt-2"><span> {{y.date.substr(0, 10)}}
                  &nbsp;
                  {{y.date.substr(11,5)}}</span></label>
            </div>
            <div *ngIf="index==1||index==3">
              <label autocomplete="off" data-bs-toggle="modal"  data-bs-target="#exampleModal1" (click)="rendezVous(y._id)" class="btn2 mt-2"><span> {{y.date.substr(0, 10)}} &nbsp;
                  {{y.date.substr(11,5)}}</span></label>
            </div>
          </div>
        </div>
        <div class="row col-12">
        <div *ngIf="!valide" class="blog-button mt-3 col-1">
          <button (click)="login()"class="btn1 btn1-outline-dark">Prendre rendez-vous</button>
        </div>
        <div *ngIf="!valide" class="blog-button col-8 mt-5 ">
          <a autocomplete="off" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="valider(x._id,x.fNameAV,x.lNameAV,x.emailAV,x.phoneAV,x.cityAV.city,x.specialityAV.speciality,x.prix,x.Cabinet,x.diplome,
          x.training,x.picture)" style="color: #D2AE6D; cursor: pointer; text-decoration: underline; margin-left: 300px;" ><b>Plus d'information</b></a>
        </div>
        <div *ngIf="valide" class="blog-button col-8 mb-2">
          <a autocomplete="off" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="valider(x._id,x.fNameAV,x.lNameAV,x.emailAV,x.phoneAV,x.cityAV.city,x.specialityAV.speciality,x.prix,x.Cabinet,x.diplome,
            x.training,x.picture)" style="color: #D2AE6D; cursor: pointer; text-decoration: underline; " ><b>Plus d'information</b></a>
        </div>
      </div>
      </div>
    </div>

    <!--------Prenez Rendez-Vous------>
    <div *ngIf="valide && !profil" >
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <i class="far fa-id-card"></i>
                Prenez Rendez-Vous
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="name">
                      <i class="fas fa-user"></i>
                      Nom:</label>
                    <input value={{client[0].lNameCL}} name="lNameCL" type="text" class="form-control">

                  </div>
                  <div class="form-group col-md-6">
                    <label class="name" for="name">
                      <i class="fas fa-user"></i>
                      Prénom:</label>
                    <input value={{client[0].fNameCL}} type="text" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6 mt-2">
                    <label class="name" for="name">
                      <i class="fas fa-phone"></i>
                      Numéro Tel:</label>
                    <input value={{client[0].phoneCL}} class="form-control" id="number" name="number" required="">
                  </div>
                  <div class="form-group col-md-6 mt-2">
                    <label class="name" for="name">
                      <i class="fas fa-plus-circle"></i>
                      Age:</label>
                    <input value={{client[0].age}} type="number" class="form-control" id="number" name="number"
                      required="">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12 mt-2">
                    <label class="email" for="email">
                      <i class="fas fa-question-circle"></i>
                      Quelle est votre situation familiale (célibataire, marié(e), divorcé(e), etc.) ?:</label>
                    <input name="information" [(ngModel)]="date.souci" type="text" style="height: 60px;"
                      class="form-control" id="email" name="email" required="">

                  </div>
                  <div class="form-group col-md-12 mt-2">
                    <label class="email" for="email">
                      <i class="fas fa-question-circle"></i>
                      Avez-vous des enfants ? Si oui, combien et quelles sont leurs âges ? :</label>
                    <input name="information" [(ngModel)]="date.medicaments" type="text" style="height: 60px;"
                      class="form-control" id="email" name="email" required="">

                  </div>
                  <div class="form-group col-md-12 mt-2">
                    <label class="email" for="email">
                      <i class="fas fa-question-circle"></i>
                      Quelle est votre situation professionnelle (emploi actuel, domaine d'activité, revenus) ?</label>
                    <input name="information" [(ngModel)]="date.maladies" type="text" style="height: 60px;"
                      class="form-control" id="email" name="email" required="">

                  </div>
                </div>


                <div class="form-check mt-2">
                  <input class="form-check-input" type="checkbox" value="" required>
                  <label class="form-check-label" for="invalidCheck2">
                    Accepter les termes et conditions
                  </label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn4 btn-secondary" data-bs-dismiss="modal">Fermer</button> <br><br><br><br>
              <button type="button" (click)="prendRV()" class="btn4 btn-primary">Confirmer</button>
            </div>

          </div>
        </div>

      </div>
    </div>
      <!-----profil medecin-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div style="width: 800px; margin-left: -120px;">
          <div class="row ">
            <div class="col-12 mt-3 pt-5">
              <div class="row">
                <div class="begin col-5 ">
                  <div class="card-block text-center text-white">

                    <img src={{avocatP.picture}} alt="" style="margin-top: 120px; width: 200px;" aria-hidden="true">
                    <h2 class="font-weight-blod mt-4" style="text-transform:uppercase;">DR. {{avocatP.lNameAV}} {{avocatP.fNameAV}}</h2>
                    <p>Avocat {{avocatP.specialityAV}}</p>

                  </div>
                </div>
                <div class="col-7 bg-light ">
                  <div class="row">
                    <button type="button" style="margin-left: 450px;" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
                    <h3 class=" text-center">Information</h3>
                  </div>
                  <hr class="badge-primary mt-0 w-20">
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="font-weight-bold">
                        <i class="fas fa-user-md"></i>
                        Nom Prénon
                      </p>
                      <h6 class="text-muted" style="text-transform:capitalize;">{{avocatP.lNameAV}} {{avocatP.fNameAV}}</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="font-weight-bold">
                        <i class="fas fa-envelope-open-text"></i>
                        Email
                      </p>
                      <h6 class="text-muted">{{avocatP.emailAV}}</h6>
                    </div>
                  </div>
                  <h4 class="mt-3">Détailes</h4>
                  <hr class="badge-primary">
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="font-weight-bold">
                        <i class="fas fa-phone"></i>
                        Numéro Tlf:
                      </p>
                      <h6 class="text-muted">{{avocatP.phoneAV}}</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="font-weight-bold">
                        <i class="fas fa-map-marked-alt"></i>
                        ville:
                      </p>
                      <h6 class="text-muted" style="text-transform:capitalize;">{{avocatP.cityAV}}</h6>
                    </div>

                  </div>
                  <hr class="badge-primary">
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="font-weight-bold">
                        <i class="fas fa-dollar-sign"></i>
                        Prix Consultation:
                      </p>
                      <h6 class="text-muted">{{avocatP.prix}} DT</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="font-weight-bold">
                        <i class="fas fa-user-tag"></i>
                        Spécialité:
                      </p>
                      <h6 class="text-muted">{{avocatP.specialityAV}}</h6>
                    </div>
                  </div>

                  <hr class="badge-primary">
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="font-weight-bold">
                        <i class="far fa-building"></i>
                        Emplacement De Cabinet:
                      </p>
                      <h6 class="text-muted" style="text-transform:capitalize;">{{avocatP.Cabinet}}</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="font-weight-bold">
                        <i class="fas fa-award"></i>
                        Diplômes et formations:
                      </p>
                      <h6 class="text-muted col-sm-9" style="text-transform:capitalize;"> {{avocatP.diplome}}<br>
                        {{avocatP.training}}<br>
                        <br>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>




<!---------pagination------>
<footer style="margin-top: 160px;">
  <section class="pagination">
    <ul class="pagination-items">
      <li>Prev</li>
      <li class="active">1</li>
      <li [routerLink]='["/login"]' class="active">2</li>
      <li class="active">3</li>
      <li>4</li>
      <li>5</li>
      <li>Next</li>
    </ul>
  </section>
</footer>
