<section class="main body" id="page">
    <div class="home-content" style="margin-top: -50px;">
      <!--text-->
      <div class="home-text">
        <h1>TELECONSULTATION EN LIGNE</h1>
        <p>La téléconsultation est une consultation réalisée en vidéo à distance avec un avocat , sans vous déplacer !
          Choisissez un avocat parmi plus des spécialités disponibles en ligne.
          La téléconsultation est simple et sécurisée.</p>
        <!--login-btn-->
        <a [routerLink]='["/avocat"]' class="main-login">
          <i class="fas fa-search" style="margin-right: 8px;"></i>
  
          recherche un avocat</a>
      </div>
      <!--img-->
      <div class="home-img">
        <img src="../../assets/image/judge_online_set41.jpg" />
      </div>
    </div>
    <!--timing------------->
  
    <div class="cards-list ">
      <div class="card 1">
        <div class="card_image">
          <div class="">
            <!--office-time-->
  
            <div class="static-txt"></div>
            <div id="bloc1">
              <h3 class="title">Téléconsultez</h3>
              <ul class="dynamic-txts">
                <li><span>Droit des personnes</span></li>
                <li><span>Droit pénal</span></li>
                <li><span>Droit public</span></li>
              </ul>
            </div>
            <!--office-contact -->
            <div >
              <img class="bloc2" style="margin-top: 50px; "
                src="https://assets-global.website-files.com/601e637fe4257443e6b518e1/6105128a66d26141eb90d230_facile-small.png">
              <img class="bloc3" style="margin-top: 50px; "
                src="https://assets-global.website-files.com/601e637fe4257443e6b518e1/610512898dc7b550d42f1fff_rembourser-small.png">
              <img class="bloc3" style="margin-top: 50px;"
                src="https://assets-global.website-files.com/601e637fe4257443e6b518e1/61051289be8cd0abc350fff4_competitif-small.png">
             <img class="bloc3" style="margin-top: 50px;" src="https://assets-global.website-files.com/601e637fe4257443e6b518e1/6103fb71b77c584c311e1acf_confidential-2-small.png.png"> 
           <img class="bloc4" style="margin-top: 50px;" src="https://assets-global.website-files.com/601e637fe4257443e6b518e1/6103f34c837f3a55ee2b9b0b_valuable-small.png">
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!--arrow-->
    <div class="arrow"></div>
    <span class="scroll">Scroll</span>
  </section>
  
  <!---a propos---->
  <section class="services" >
    <!--heading----------->
    <div class="services-heading">
      <h2 >LawConnect: Yes,We Innovate Law!</h2>
      <p id="apropos">Au quotidien nous pensons des services de téléjustice connectés, utiles et faciles à utiliser.
        Nous imaginons le compagnon de santé que nous voudrions avoir pour nous aider à rester en bonne santé et nous développons des solutions pour les avocats qui veulent être plus connectés à leurs clients.
  Ensemble, nous travaillons à apporter la souplesse et la performance du numérique au coeur du système de soin . Découvrez comment LawConnect facilite la téléconsultation !
      </p>
    </div>
    <!--box-container----------------->
    <div class="box-container">
      <!--box-1-------->
      <div class="box">
        <img src="../../assets/image/service1.png">
        <font>Créez votre compte </font>
        <p>Dites-nous en plus sur vous. Vos informations sont enregistrées sur un serveur sécurisé et agréé Données de
          Santé pour garantir le secret juridique.</p>
        <!--btn--------->
  
      </div>
      <!--box-2-------->
      <div class="box">
        <img src="../../assets/image/service3.png">
        <font>Prenez rendez-vous en ligne</font>
        <p>Recherchez une spécialité puis choisissez l'avocat et l'horaire qui vous conviennent pour prendre un rendez-vous.</p>
      </div>
  
      <!--box-3-------->
      <div class="box">
        <img src="../../assets/image/service2.png">
        <font>Consultez un avocat en vidéo</font>
        <p> A l’heure du RDV, je me connecte et rejoins la consultation en ligne et en vidéo. L'avocat effectue un diagnostic et m’oriente sur la démarche à suivre.</p>
      </div>
  
  
  
    </div>
  </section>
  
  <!-------slide Services-------------->
  <div id="services">
  <div id="slider" style="margin-top: 90px;">
    <h3>LawConnect Services</h3>
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
       <div id="overflow">
          <div class="inner">
             <div class="slide slide_1">
               <img src="../../assets/image/signin.png" id="1" style="width: 300px; margin-left: 20px;">
                <div class="slide-content">
                   <h2>Créer  votre compte facilement</h2>
  
                </div>
             </div>
             <div class="slide slide_2">
              <img src="../../assets/image/onlineconsultation.png" id="2" style="width: 450px; margin-left: -10px;">
              <div class="slide-content">
                 <h2>Consultation en Ligne </h2>
  
              </div>
             </div>
             <div class="slide slide_3">
              <img src="../../assets/image/conseil.png" id="3" style="width: 350px; margin-left: -10px;">
              <div class="slide-content">
                 <h2>Conseils Juridiques par Chat</h2>
  
              </div>
             </div>
  
          </div>
       </div>
    </div>
    <div id="controls">
       <label for="slide1"></label>
       <label for="slide2"></label>
       <label for="slide3"></label>
       <label for="slide4"></label>
    </div>
    <div id="bullets">
       <label for="slide1"></label>
       <label for="slide2"></label>
       <label for="slide3"></label>
  
    </div>
  </div>
  </div>
  
  
  <!------------------conseils Médicaux---------------------->
  <section class="services1" id="conseils">
    <div class="services1-heading">
      <h2>Conseils Juridiques</h2>
    </div>
    <div class="box1-container">
      <!--box-1-------->
      <div class="box1">
        <img src="../../assets/image/Online_messaging.png">
        <p>Avec LawConnect, nos avocats généralistes et spécialistes répondent à vos questions très rapidement en 24/7, par chat.</p>
        <!--btn--------->
        <a href="#">
          <i class="fas fa-comment-dots" style="margin-right: 10px"></i>
          Chat</a>
      </div>
    </div>
  </section>
  
  
  <!--connexion----------------------->
  <section class="services" >
    <!--heading----------->
    <div class="services-heading" >
      <h2 >Connectez-Vous</h2>
      <p id="signin">Cette Platforme de téléconsultation est sécurisé , simple d'utilisation et adapté aux besoins de tous les participants . La téléconsultation fait également gagner du temps sur les consultations simples et sans examen physique.</p>
    </div>
    <div class="box-container" >
      <!--box-1-------->
      <div class="box" >
        <img src="../../assets/image/lawyer.png">
        <font>Sign in Avocat</font>
        <p>Inscrivez-vous gratuitement en moins de 2 minutes pour accéder à votre Espace Avocat privé. Vos données sont sécurisées et soumises au secret juridique.</p>
        <!--btn--------->
        <a [routerLink]='["/loginAvocat"]' style="border-radius: 20px;">Sign In</a>
      </div>
      <!--box-2-------->
      <div class="box">
        <img src="../../assets/image/user.png">
        <font>Sign in Client</font>
        <p>Inscrivez-vous gratuitement en moins de 2 minutes pour accéder à votre Espace Client privé. Vos données sont sécurisées et soumises au secret juridique. Vous conservez dans ce compte l'historique de vos RDV.</p>
        <!--btn--------->
        <a [routerLink]='["/loginClient"]' style="border-radius: 20px;">Sign In</a>
      </div>
  
  
  
    </div>
  </section>
  
  
  
  
  
  
  
  <!-----------------footer---------->
  <footer>
    <div class="art">
      <div class="content">
        <section>
          <header>LawConnect</header>
          <a href="#">Acceuil</a>
          <a href="#">A Propos</a>
          <a href="#">Services</a>
          <a href="#">Conseils Juridiques</a>
          <a href="#">Equipe</a>
        </section>
        <section>
          <header>Equipe</header>
          <a href="#">A Propos De Nous</a>
  
        </section>
  
        <section>
          <header>Nous contacter</header>
          <form action="">
            <input type="email" placeholder="Mettez Votre Email" id="" style="border-radius: 20px;">
            <input type="submit" value="Abonnez-vous maintenant" style="border-radius: 20px;">
          </form>
          <div class="social">
            <i class="fab fa-youtube"></i>
            <i class="fab fa-facebook-f"></i> <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-telegram-plane"></i>
  
          </div>
        </section>
      </div>
      <div class="notice">
        copyright protected &copy;
        <strong>NesrineDziri</strong>
      </div>
  
    </div>
  </footer>
  
  