<div class="credit-card-form">
  <h2>Paiement</h2>
  <a href="some-url">
    <img class="Image1" src="https://i.ibb.co/hgJ7z3J/6375aad33dbabc9c424b5713-card-mockup-01.png" alt="6375aad33dbabc9c424b5713-card-mockup-01" border="0">
  </a>
  <form>
    
    <div >
      <i class="fas fa-user" style="text-transform: capitalize;"></i> Nom d'avocat: Khalil Ibrahim <br>
      <i class="fas fa-phone-alt"></i> Numéro Téle: +216 55888999<br>
      <i class="fas fa-credit-card"></i> Numéro de la carte: 12345678<br>
      
      <form action="/action_page.php" style="margin-top: 20px;">
        <input type="file" id="myFile" name="filename"
          style="font-family: Tahoma; font-size: medium;" (change)="selectImage($event)">
      </form>
      
  
    </div>
    <button type="submit" class="click-button" (click)="onSubmit()" style="margin-top: 20px;">Payer</button>
  </form>



</div>
