<section class="main body">
    <!--navigation-->
    <nav>
        <!--logo-->
        <a href="#" class="logo">
            <img src="../../assets/image/logo.png"/>
        </a>
        <!--menu-btn----------->

        <label class="menu-icon" for="menu-btn">
            <span class="nav-icon"></span>
        </label>
        <!--menu-->
        <ul class="menu">
            <li><a [routerLink]='[""]'>Acceuil</a></li>
            <li><a href="#apropos">A Propos</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#conseils">Conseils Juridiques</a></li>
            <li><a >Equipe</a></li>
            <li><a href="#signin">Connexion</a></li>
        </ul>
    </nav>
    <!--main-content-->
    <div >
        <router-outlet></router-outlet>
         <!--text-->
    </div>
</section>








